.input {
  display: inline-block;
  width: 80%;
}

.input input{
  box-shadow: none;
  padding: .5rem;
  margin-bottom: 2rem;
  height: 40px;
  border-radius: 3px;
  border: 1px solid gray;
  opacity: 1;
  outline: none;
}