.bp3-button.button {
  display: inline-block;
  margin: 0 auto 1rem auto;
  cursor: pointer;
  border: none;
  height: 40px;
  text-align: center;
  max-width: 80%;
  background-image: none;
  opacity: 0.95;
}

.bp3-button.button:hover {
  opacity: 1;
}

.button {
  display: inline-block;
  margin: 0 auto 1rem auto;
  cursor: pointer;
  width: inherit;
  border: none;
  height: 40px;
  text-align: center;
  max-width: 80%;
  width: 100%;
  background-image: none;
  opacity: .95;
}

.button:hover {
  opacity: 1;
}

.bp3-button.button.primary {
  color: white;
  background-color: var(--primary-color);
}

.bp3-button.button.primary .bp3-icon {
  color: #fff;
}

.secondary {
  color: #000000;
  text-decoration: none;
}

.secondary:hover {
  color: inherit;
}

.warning {
  color: red;
  background-color: #FFFFFF;
}

.warning:hover {
  color: red;
}

.button:hover {
  text-decoration: none;
}