.header {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  height: 13vh;
  box-shadow: 0 2px 6px #0000001A;
}

.header img {
  padding: 0% 0% 0% 10% ;
  margin-top: 1vh;
  height: 10vh;
}