
.container{
  width: 40%;
  max-width: 450px;
  min-width: 300px;
  margin: 25vh auto;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 6px #10161A29;
}
.container form{
  text-align: center;
}
.bp3-button.bp3-loading .bp3-button-spinner {
  display: inline-block;
}

.container h2 {
  margin: 0;
  font-size: 1.2rem;
  padding: 10% 20%;
  text-align: center;
  opacity: 1;
}

